// @import '../../_css/queries.scss';

// .hero {
//   padding-top: calc(var(--base) * 2);
//   position: relative;
//   overflow: hidden;

//   @include mid-break {
//     padding-top: var(--gutter-h);
//   }
// }

// .media {
//   width: calc(100% + var(--gutter-h));
//   left: calc(var(--gutter-h) / -2);
//   margin-top: calc(var(--base) * 3);
//   position: relative;

//   @include mid-break {
//     left: 0;
//     margin-top: var(--base);
//     margin-left: calc(var(--gutter-h) * -1);
//     width: calc(100% + var(--gutter-h) * 2);
//   }
// }

// .links {
//   list-style: none;
//   margin: 0;
//   padding: 0;
//   display: flex;
//   padding-top: var(--base);
//   flex-wrap: wrap;
//   margin: calc(var(--base) * -.5);

//   & > * {
//     margin: calc(var(--base) / 2);
//   }
// }

// .caption {
//   margin-top: var(--base);
//   color: var(--theme-elevation-500);
//   left: calc(var(--gutter-h) / 2);
//   width: calc(100% - var(--gutter-h));
//   position: relative;

//   @include mid-break {
//     left: var(--gutter-h);
//   }
// }

// .content {
//   position: relative;
// }

@import '../../_css/queries.scss';

.hero {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;

  @include small-break {
    margin: 0;
  }
}

.heroWrapper {
  background-color: var(--color-dark-50);
  width: 100%;
  max-width: 1560px;
  max-height: 884px;
  display: flex;
  align-items: center;

  background-size: cover;
  background-position: revert;
  background-repeat: no-repeat;

  @include small-break {
    background-size: cover;
    background-position: center;
  }
}

.heroTextBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15% var(--gutter-h);
  width: 100%;

  @include mid-break {
    padding: 10% 30px;
  }

  @include small-break {
    padding: 50px 30px;
  }

  h2 {
    font-size: 70px;
    margin: 32px 0;

    @include mid-break {
      font-size: 48px;
      margin: 24px 0;
      white-space: wrap;
    }

    @include small-break {
      width: 70%;
      font-size: 36px;
      margin: 8px 0;
    }
  }

  p {
    font-size: 30px;

    @include mid-break {
      font-size: 24px;
    }

    @include small-break {
      font-size: 18px;
    }
  }
}

.links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  padding-top: 50px;
  flex-wrap: wrap;
  margin: calc(var(--base) * -0.5);

  & > * {
    margin: calc(var(--base) / 2);
  }
}